* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #212121;
  --secondary-color: #424242;
  --alternative-color: #616161;
  --accent-color: #6200EA;
  --text-highlight-color: #9FEB00;
}

main {
  background-color: var(--primary-color);
}

@media screen and (min-width: 960px) {}