* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #262626;
  --alternative-color: #313131;
  --accent-color: #038C3E;
  --text-highlight-color: #d8d8d8;
}

main {
  background-color: var(--primary-color);
}

@media screen and (min-width: 960px) {}