.header {
    background-color: var(--accent-color);
    padding: 20px 30px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
}

.logo {
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    font-weight: 700;
}

.navigation {
    margin-left: 60px;
}

.navigation ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.navigation li {
    margin: 0 20px;
}

.navigation a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    transition: all .3s ease;
}

.navigation a:hover {
    color: var(--text-highlight-color);
    color: transparent;
    text-shadow: 0 0 5px #fff; /* adicionar elemento por cima */
}